<div class="top-page" data-controller="modal">
  <h2 class="top-page__subtitle">どの山に行く？</h2>

  <div id="logo">
    <%= image_tag("top_bg.png", alt: "ALPI Logo") %>
  </div>

  <div class="flex space-x-6 justify-center mt-6">
    <%= image_tag("cat_icon.png", alt: "にゃん", class: "character-icon", data: { action: "click->modal#open", character: "cat" }) %>
    <%= image_tag("oldman_icon.png", alt: "じぃ", class: "character-icon", data: { action: "click->modal#open", character: "oldman" }) %>
    <%= image_tag("alien_icon.png", alt: "うちゅ", class: "character-icon", data: { action: "click->modal#open", character: "alien" }) %>
  </div>

  <div data-modal-target="modal" class="modal hidden">
    <div class="modal-content">
      <p data-modal-target="message">このキャラと話す？</p>
      <div class="modal-buttons">
        <button data-action="click->modal#close">キャンセル</button>
        <a data-modal-target="confirm" href="#">OK</a>
      </div>
    </div>
  </div>

  <div class="top-page__description">
    <p>どこの山に登るか迷っているあなたに</p>
    <p>提案をしてくれるアルピ達。</p>
    <p>好きなアルピを選んでね。</p>
  </div>

  <div class="top-page__search">
    <p>自力で探す！</p>
    <div class="search-form">
      <%= form_with url: mountains_path, method: :get, local: true do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワード検索", class: "search-input" %>
        <%= form.submit "検索", class: "search-button" %>
      <% end %>
    </div>
  </div>
</div>
