<h1 class="text-3xl font-bold text-center mb-4">新規登録</h1>

<div class="container mx-auto px-4 py-6">
  <div class="max-w-sm mx-auto bg-white p-6 rounded-lg shadow-md">
    <%= form_with model: @user, data: { turbo: false } do |f| %>
      <div class="mb-4">
        <%= f.label :name, "名前", class: "block text-sm font-semibold mb-1" %>
        <%= f.text_field :name, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "名前を入力" %>
      </div>

      <div class="mb-4">
        <%= f.label :email, "メールアドレス", class: "block text-sm font-semibold mb-1" %>
        <%= f.email_field :email, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, "パスワード", class: "block text-sm font-semibold mb-1" %>
        <%= f.password_field :password, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "パスワードを入力" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "パスワード確認", class: "block text-sm font-semibold mb-1" %>
        <%= f.password_field :password_confirmation, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "もう一度入力" %>
      </div>

      <div class="mb-4">
        <%= f.submit "登録する", class: "w-full py-2 px-4 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500" %>
      </div>
    <% end %>

    <div class="text-center mt-4">
      <%= link_to "ログインはこちら", login_path, class: "text-blue-500 hover:text-blue-700" %>
    </div>
  </div>
</div>
