<nav class="menu-bar" id="menu-bar">
  <ul class="menu-list">
    <li class="menu-item">
      <%= link_to "TOP", root_path %>
    </li>
    
    <li class="menu-item has-submenu">
      <span>チャット</span>
      <ul class="submenu">
        <li><%= link_to "猫と話す", chatbots_show_path(character_type: "cat") %></li>
        <li><%= link_to "爺と話す", chatbots_show_path(character_type: "oldman") %></li>
        <li><%= link_to "宇宙人と話す", chatbots_show_path(character_type: "alien") %></li>
      </ul>
    </li>

    <li class="menu-item">
      <%= link_to "山情報一覧・検索", mountains_path %>
    </li>
  </ul>
</nav>
